.form-group {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    margin: 10px 500px 10px 500px;
}

.button4 {
    background-color: green;
    color: white;
    border-radius: 10px;
}

.buttoncenter {
    text-align: center;
}