<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/createWish.css}" rel="stylesheet">
</head>
<body>
<form th:action="@{'/wishlist/' + ${wishlistID} + '/wishes/createWish'}" method="post" th:object="${wish}">
    <p>
        <label>Name:</label>
        <input name="name" type="text" th:field="*{name}">
    </p
    ><p>
        <label>Price:</label>
        <input name="price" type="text" th:field="*{price}">
    </p>
    <p>
        <label>Amount:</label>
        <input name="amount" type="text" th:field="*{amount}">
    </p>
    <p>
        <label>Description:</label>
        <input name="description" type="text" th:field="*{description}">
    </p>
    <p>
        <button type="submit">Add wish</button>
        <a th:href="@{'/wishlist/' + ${wishlistID} + '/wishes'}">
            <button type="button">Cancel</button>
        </a>
    </p>
</form>
</body>
</html>