<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/createList.css}" rel="stylesheet">
</head>
<body>

<h1>Please create your list</h1>


<form action="/wishlist/create" method="post" th:object="${createWishlist}">
    <label for="name">Wishlist name</label>
    <input type="text" id="name" name="name" required th:field="*{name}">
        <button type="submit">Create</button>

</form>

</body>
</html>