<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/createList.css}" rel="stylesheet">
</head>
<body>

<h1>Now create your list</h1>


<form action="/wishlist/newwishlist" method="post">


    <label for="name">Wishlist name</label>
    <input type="text" id="name" required>

    <label for="description">Description.</label>
    <input type="text" id="description" required></input>


        <button type="submit">Create</button>

</form>

</body>
</html>