<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>


<h1>Welcome to the wishlist creator</h1>

<h1>Welcome to wishlist creator</h1>

<ul>
    <li th:each="wish : ${wishlist}">
        <p th:text="'Name: ' + ${wish.getName()}"></p>
        <form th:action="@{'/wishlist/' + ${wish.ID} + '/update'}" method="get">
            <button type="submit">Update</button>
        </form>
        <form th:action="@{'/wishlist/' + ${wish.ID} + '/delete'}" method="post">
            <button type="submit">Delete</button>
        </form>
        <form th:action="@{'/wishlist/' + ${wish.name} + '/wishes'}">
            <button type="submit">Choose wishlist</button>
        </form>
    </li>
</ul>

<div class="createbuttoncenter">
<a th:href="@{'/wishlist/create'}">
    <button class="createbutton" type="button">Opret ønskeliste</button>
</a>
</div>


</body>
</html>