<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>


<h1>Welcome to the wishlist creator</h1>

<h1>Welcome to wishlist creator</h1>

<ul>
    <li th:each="wish : ${wishlist}">
        <h1 th:text="'Name: ' + ${wish.getName()}"></h1>
        <button class="createbutton" type="button">Opret ønskeliste</button>
    </li>
</ul>

<div class="createbuttoncenter">
<a th:href="@{'/wishlist/create'}">
    <button class="createbutton" type="button">Opret ønskeliste</button>
</a>
</div>


</body>
</html>